@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
    --font-xs: 12px;
    --font-sm: 14px;
    --font-base: 16px;
    --font-lg: 18px;
    --font-xl: 20px;
    --text-color: #fff;
    --primary-color: #ddd0c8;
    --secondary-color: #323232;
    --highlight-color: #e9a319;
    --primary-color-rgb: 221, 208, 200;
    --secondary-color-rgb: 50, 50, 50;
    --transition: all 0.2s ease;
    --transition-fast: all 0.1s ease;
    --transition-slow: all 0.3s ease;
    --forward-line-color: #ff0000;
    --backward-line-color: #ffff00;
}

/**
 * Position
 * Width
 * Height
 * Margin
 * Border
 * Padding
 * Display
 * Content
 * Background
 * Transform
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    overflow-x: hidden;
    font-size: var(--font-xs);

    @media screen and (min-width: 1000px) {
        font-size: var(--font-sm);
    }

    @media screen and (min-width: 1300px) {
        font-size: var(--font-base);
    }

    @media screen and (min-width: 1600px) {
        font-size: var(--font-lg);
    }

    @media screen and (min-width: 1900px) {
        font-size: var(--font-xl);
    }
}

body {
    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    color: var(--text-color);
    font-weight: 300;
    font-family: 'Poppins', 'Open Sans', sans-serif;
    background-color: var(--secondary-color);
    background-image: url("https://projectpictures2024.s3.eu-north-1.amazonaws.com/Helsinki.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol,
dl {
    margin: 0;
    padding: 0;
    list-style: none;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    max-width: 100%;
    display: block;
}

#root {
    width: 100%;
    min-height: 100vh;
}

.App {
    width: 100%;
    min-height: 100vh;
}
