header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 15vh;
    padding: .3rem 2rem;
    color: var(--text-color);
    display: grid;
    grid-template-areas: "navigation logo buttons";
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    background-color: var(--primary-color);
}

.headerLogo {
    grid-area: logo;
    justify-self: center;

    img {
        width: 80%;
        margin: auto;
        display: block;
    }
}

.headerNavigation {
    grid-area: navigation;
    width: 100%;
    justify-self: start;
}

.headerButtons {
    grid-area: buttons;
    justify-self: end;

    svg {
        width: 2.5rem;
        height: 2.5rem;
        color: var(--secondary-color);
    }
}

.nav {
    position: fixed;
    top: 15vh;
    left: 0;
    width: 100%;
    visibility: hidden;
    background-color: var(--primary-color);
}

.navOpen {
    visibility: visible;
}

.menuNav {
    height: 85vh;
    transform: translateX(-100%);
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menuNavOpen {
    transform: translateX(0);
}

.navIconContainer {
    display: flex;
    justify-content: space-around;
}

.changeLanguage {
    border: none;
    border-radius: 5%;
    margin: 0 0 0 1.5rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        width: auto;
        height: auto;
        margin: 0;
        padding: .25rem 1rem;
        line-height: 2rem;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1000px) {
    header {
        padding: .5rem 10rem;
        grid-template-columns: auto auto 1fr auto;
        grid-template-areas: "logo navigation . buttons";
    }

    .headerLogo {
        justify-self: start;

        img {
            width: auto;
            height: 13vh;
            margin: 0;
        }
    }

    .headerNavigation {
        justify-self: start;
        width: auto;
        margin-left: 2rem;
    }

    .headerNavigation > button {
        display: none;
    }

    .nav {
        position: static;
        visibility: visible;
        width: auto;
        background-color: transparent;
    }

    .menuNav {
        height: auto;
        transform: translateX(0);
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }

    .menuNav > :last-child {
        display: none;
    }

    .headerButtons {
        justify-self: end;
    }
}

@media screen and (min-width: 1300px) {
    header {
        grid-template-columns: auto auto 1fr auto;
        grid-template-areas: "logo navigation . buttons";
    }
}

@media screen and (min-width: 1600px) {
    header {
        grid-template-columns: auto auto 1fr auto;
        grid-template-areas: "logo navigation . buttons";
    }
}

@media screen and (min-width: 1900px) {
    header {
        grid-template-columns: auto auto 1fr auto;
        grid-template-areas: "logo navigation . buttons";
    }
}