.container {
    position: relative;
    top: 15vh;
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(var(--secondary-color-rgb), 0.95);
}

.container h1 {
    padding: 1rem 0;
    font-size: 200%;
    text-transform: uppercase;
}

.actionContainer {
    width: 90%;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.actionContainer button {
    flex: 1;
    font-size: 1em;
    text-transform: uppercase;
    background-color: color-mix(in srgb, var(--primary-color) 70%, black 5%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 0.75rem 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wordContainer {
    position: relative;
    width: 90%;
    min-height: 10vh;
    border: 2px solid white;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: var(--primary-color);
}

.wordContainer h2 {
    font-size: 250%;
    text-transform: uppercase;
}

.detailContainer {
    position: relative;
    width: 90%;
    min-height: 50vh;
    border: 2px solid white;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    padding: 0.735rem;
}

.detailContainer button {
    width: 200px;
    height: 80px;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 0;
}

.detailContent {
    width: 100%;
    padding: 0.49rem;
    color: black;
    font-size: 150%;
    text-align: left;
}

.detailItem {
    margin: 0.5rem 0;
}

.detailLabel {
    font-weight: bold;
}

@media screen and (min-width: 1000px) {
    .container h1 {
        font-size: 280%;
    }

    .actionContainer {
        width: 800px;
    }

    .actionContainer button {
        font-size: 1.2em;
    }

    .wordContainer {
        width: 800px;
    }

    .wordContainer h2 {
        font-size: 275%;
    }

    .detailContainer {
        width: 800px;
        padding: 0.8575rem;
    }

    .detailContainer button {
        width: 220px;
        height: 90px;
        font-size: 1.6em;
    }

    .detailContent {
        font-size: 155%;
        padding: 0.6125rem;
    }
}

@media screen and (min-width: 1600px) {
    .container h1 {
        font-size: 340%;
    }

    .actionContainer {
        width: 1000px;
    }

    .actionContainer button {
        font-size: 1.3em;
        padding: 0.95rem 0.8rem;
    }

    .wordContainer {
        width: 1000px;
    }

    .wordContainer h2 {
        font-size: 325%;
    }

    .detailContainer {
        width: 1000px;
        min-height: 40vh;
    }

    .detailContainer button {
        width: 20vh;
        height: 20vh;
        font-size: 1.8em;
    }

    .detailContent {
        font-size: 165%;
        padding: 0.8575rem;
    }
}

@media screen and (min-width: 1900px) {
    .container {
        top: 10vh;
        min-height: 90vh;
    }
}