.container {
    position: relative;
    top: 15vh;
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(var(--secondary-color-rgb), 0.95);
}

.container h1 {
    font-size: 400%;
    text-transform: uppercase;
}

.actionContainer {
    width: 90%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
}

.actionContainer button {
    width: 30%;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: color-mix(in srgb, var(--primary-color) 70%, black 5%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.wordContainer {
    position: relative;
    width: 90%;
    height: 15vh;
    border: 2px solid white;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: var(--primary-color);
}

.wordContainer h2 {
    font-size: 250%;
    text-transform: uppercase;
}

.detailContainer {
    position: relative;
    width: 90%;
    min-height: 40vh;
    border: 2px solid white;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

.detailContainer button {
    width: 50%;
    height: 50%;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 200%;
    text-transform: uppercase;
}

.detailContent {
    width: 100%;
    padding: 10%;
    color: black;
    font-size: 150%;
    text-align: left;
}

.detailItem {
    margin: 10px 0;
}

.detailLabel {
    font-weight: bold;
}
