.menuNavPage,
.menuNavAction {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.menuNavPage {
    max-height: 65vh;
    justify-content: start;
    background-color: var(--primary-color);
}

.menuNavAction {
    min-height: 20vh;
    justify-content: space-between;
    background-color: var(--secondary-color);
}

@media screen and (min-width: 1000px) {
    .menuNavPage {
        height: auto;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        background-color: transparent;
    }

    .menuNavAction {
        min-height: auto;
        padding: 0;
        flex-direction: row;
        justify-content: end;
        background-color: transparent;
    }
}