.container {
    position: relative;
    top: 15vh;
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(var(--secondary-color-rgb), 0.95);
}

.container h1 {
    font-size: 400%;
    text-transform: uppercase;
}

.detailContainer {
    position: relative;
    width: 98%;
    min-height: 70vh;
    border: 2px solid black;
    border-radius: 5%;
    padding: 10% 5%;
    display: flex;
    color: black;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--primary-color);
}

.detailContainer h3 {
    font-style: italic;
}

.detailContainer a {
    width: 70%;
    height: 10vh;
    border-radius: 10%;
    font-size: 1.75em;
    text-transform: uppercase;
    background-color: color-mix(in srgb, var(--secondary-color) 70%, black 5%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.stepsList {
    padding-left: 2em;
    list-style: decimal;
}

.stepsList li {
    margin: 0.5rem 0;
}