.container {
    position: relative;
    top: 15vh;
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(var(--secondary-color-rgb), 0.95);
}

.container h1 {
    padding: 1rem 0;
    font-size: 200%;
    text-transform: uppercase;
}

.detailContainer {
    position: relative;
    width: 95%;
    height: auto;
    border: 2px solid black;
    border-radius: 5%;
    padding: 10% 5%;
    display: flex;
    color: black;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--primary-color);
}

.detailContainer h3 {
    font-style: italic;
}

.detailContainer a {
    width: 80%;
    height: 10vh;
    border-radius: 10%;
    font-size: 1.75em;
    text-transform: uppercase;
    background-color: color-mix(in srgb, var(--secondary-color) 70%, black 5%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.stepsList {
    padding-left: 2em;
    list-style: decimal;
}

.stepsList li {
    margin: 0.5rem 0;
}

@media screen and (min-width: 1000px) {
    .container h1 {
        font-size: 280%;
    }

    .detailContainer {
        width: 800px;
        padding: 2rem;
    }

    .detailContainer a {
        width: 65%;
        height: 9vh;
        font-size: 1.85em;
    }
}

@media screen and (min-width: 1600px) {
    .container h1 {
        font-size: 340%;
    }

    .detailContainer {
        width: 1000px;
    }

    .detailContainer a {
        width: 55%;
        font-size: 2.05em;
    }
}

@media screen and (min-width: 1900px) {
    .container {
        top: 10vh;
        min-height: 90vh;
    }

    .detailContainer {
        padding: 1.5rem;
    }
}