.selectWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.label {
    font-size: inherit;
    font-weight: 400;
    color: var(--text-color);
}

.select {
    border: none;
    border-radius: 5%;
    font-size: inherit;
    font-weight: inherit;
    color: var(--text-color);
    background-color: var(--secondary-color);
    transition: var(--transition);
    padding: 0.25rem 0.5rem;
}

.select option {
    color: var(--text-color);
    background-color: var(--secondary-color);
}

.select:focus {
    outline: 2px solid var(--highlight-color);
    outline-offset: 2px;
}

.select:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.selectError {
    border: 1px solid #ef4444;
    border-radius: 4px;
}

.selectError:focus {
    outline: 2px solid #ef4444;
    outline-offset: 2px;
}

.errorMessage {
    font-size: 0.875rem;
    color: #ef4444;
    margin-top: 0.125rem;
}

.helperText {
    font-size: 0.875rem;
    color: var(--primary-color);
    margin-top: 0.125rem;
}
