.menuNavPageItem,
.menuNavActionItem,
.menuNavActionIcons {
    padding: 1rem 2rem;
    display: flex;

    &:hover {
        text-decoration: underline;
    }
}

.menuNavPageItem {
    background-color: var(--secondary-color);

    a {
        width: 100%;
        height: 100%;
        display: block;
        line-height: 4rem;
        font-size: 1.5rem;
        text-transform: uppercase;
    }
}

.menuNavPageItemActive {
    text-decoration: underline;
}

.menuNavActionItem,
.menuNavActionIcons {
    svg {
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
    }
}

.menuNavActionIcons {
    justify-content: space-around;
}

@media screen and (min-width: 1000px) {
    .menuNavPageItem {
        margin: 0;
        padding: 0;
        background-color: transparent;

        a {
            width: auto;
            height: auto;
            padding: .25rem .5rem;
            display: inline;
            line-height: normal;
            font-size: 1.2rem;
        }
    }

    .menuNavPageItemActive {
        background-color: transparent;
    }

    .menuNavActionItem {
        border: 1px solid var(--secondary-color);
        border-radius: 5%;
        margin: 0 .5rem;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;

        a {
            width: auto;
            height: auto;
            margin: 0;
            padding: .25rem 1rem;
            font-size: 1.05rem;
        }

        select {
            margin-left: 0;
            padding: .25rem 1rem .25rem .25rem;
        }

        svg {
            display: none;
        }
    }

    .menuNavActionIcons {
        padding: 0;
        margin: 0 .5rem;
    }
}